<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>H18543</key>
  <string>H_18543.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>_1</key>
  <string>_1.glif</string>
  <key>_107</key>
  <string>_107.glif</string>
  <key>_108</key>
  <string>_108.glif</string>
  <key>_109</key>
  <string>_109.glif</string>
  <key>_110</key>
  <string>_110.glif</string>
  <key>_111</key>
  <string>_111.glif</string>
  <key>_112</key>
  <string>_112.glif</string>
  <key>_113</key>
  <string>_113.glif</string>
  <key>_114</key>
  <string>_114.glif</string>
  <key>_115</key>
  <string>_115.glif</string>
  <key>_116</key>
  <string>_116.glif</string>
  <key>_117</key>
  <string>_117.glif</string>
  <key>_118</key>
  <string>_118.glif</string>
  <key>_119</key>
  <string>_119.glif</string>
  <key>_120</key>
  <string>_120.glif</string>
  <key>_121</key>
  <string>_121.glif</string>
  <key>_122</key>
  <string>_122.glif</string>
  <key>_123</key>
  <string>_123.glif</string>
  <key>_125</key>
  <string>_125.glif</string>
  <key>_126</key>
  <string>_126.glif</string>
  <key>_128</key>
  <string>_128.glif</string>
  <key>_129</key>
  <string>_129.glif</string>
  <key>_130</key>
  <string>_130.glif</string>
  <key>_131</key>
  <string>_131.glif</string>
  <key>_132</key>
  <string>_132.glif</string>
  <key>_133</key>
  <string>_133.glif</string>
  <key>_134</key>
  <string>_134.glif</string>
  <key>_135</key>
  <string>_135.glif</string>
  <key>_136</key>
  <string>_136.glif</string>
  <key>_137</key>
  <string>_137.glif</string>
  <key>_138</key>
  <string>_138.glif</string>
  <key>_139</key>
  <string>_139.glif</string>
  <key>_140</key>
  <string>_140.glif</string>
  <key>_141</key>
  <string>_141.glif</string>
  <key>_142</key>
  <string>_142.glif</string>
  <key>_143</key>
  <string>_143.glif</string>
  <key>_144</key>
  <string>_144.glif</string>
  <key>_150</key>
  <string>_150.glif</string>
  <key>_151</key>
  <string>_151.glif</string>
  <key>_152</key>
  <string>_152.glif</string>
  <key>_153</key>
  <string>_153.glif</string>
  <key>_154</key>
  <string>_154.glif</string>
  <key>_155</key>
  <string>_155.glif</string>
  <key>_156</key>
  <string>_156.glif</string>
  <key>_157</key>
  <string>_157.glif</string>
  <key>_158</key>
  <string>_158.glif</string>
  <key>_159</key>
  <string>_159.glif</string>
  <key>_16</key>
  <string>_16.glif</string>
  <key>_160</key>
  <string>_160.glif</string>
  <key>_161</key>
  <string>_161.glif</string>
  <key>_162</key>
  <string>_162.glif</string>
  <key>_163</key>
  <string>_163.glif</string>
  <key>_165</key>
  <string>_165.glif</string>
  <key>_166</key>
  <string>_166.glif</string>
  <key>_168</key>
  <string>_168.glif</string>
  <key>_17</key>
  <string>_17.glif</string>
  <key>_170</key>
  <string>_170.glif</string>
  <key>_173</key>
  <string>_173.glif</string>
  <key>_175</key>
  <string>_175.glif</string>
  <key>_177</key>
  <string>_177.glif</string>
  <key>_178</key>
  <string>_178.glif</string>
  <key>_179</key>
  <string>_179.glif</string>
  <key>_180</key>
  <string>_180.glif</string>
  <key>_181</key>
  <string>_181.glif</string>
  <key>_184</key>
  <string>_184.glif</string>
  <key>_185</key>
  <string>_185.glif</string>
  <key>_186</key>
  <string>_186.glif</string>
  <key>_188</key>
  <string>_188.glif</string>
  <key>_189</key>
  <string>_189.glif</string>
  <key>_190</key>
  <string>_190.glif</string>
  <key>_191</key>
  <string>_191.glif</string>
  <key>_192</key>
  <string>_192.glif</string>
  <key>_193</key>
  <string>_193.glif</string>
  <key>_194</key>
  <string>_194.glif</string>
  <key>_195</key>
  <string>_195.glif</string>
  <key>_196</key>
  <string>_196.glif</string>
  <key>_197</key>
  <string>_197.glif</string>
  <key>_198</key>
  <string>_198.glif</string>
  <key>_199</key>
  <string>_199.glif</string>
  <key>_200</key>
  <string>_200.glif</string>
  <key>_201</key>
  <string>_201.glif</string>
  <key>_202</key>
  <string>_202.glif</string>
  <key>_203</key>
  <string>_203.glif</string>
  <key>_204</key>
  <string>_204.glif</string>
  <key>_205</key>
  <string>_205.glif</string>
  <key>_206</key>
  <string>_206.glif</string>
  <key>_207</key>
  <string>_207.glif</string>
  <key>_208</key>
  <string>_208.glif</string>
  <key>_209</key>
  <string>_209.glif</string>
  <key>_210</key>
  <string>_210.glif</string>
  <key>_211</key>
  <string>_211.glif</string>
  <key>_212</key>
  <string>_212.glif</string>
  <key>_213</key>
  <string>_213.glif</string>
  <key>_214</key>
  <string>_214.glif</string>
  <key>_215</key>
  <string>_215.glif</string>
  <key>_216</key>
  <string>_216.glif</string>
  <key>_217</key>
  <string>_217.glif</string>
  <key>_218</key>
  <string>_218.glif</string>
  <key>_219</key>
  <string>_219.glif</string>
  <key>_220</key>
  <string>_220.glif</string>
  <key>_221</key>
  <string>_221.glif</string>
  <key>_222</key>
  <string>_222.glif</string>
  <key>_223</key>
  <string>_223.glif</string>
  <key>_224</key>
  <string>_224.glif</string>
  <key>_225</key>
  <string>_225.glif</string>
  <key>_226</key>
  <string>_226.glif</string>
  <key>_227</key>
  <string>_227.glif</string>
  <key>_228</key>
  <string>_228.glif</string>
  <key>_229</key>
  <string>_229.glif</string>
  <key>_230</key>
  <string>_230.glif</string>
  <key>_231</key>
  <string>_231.glif</string>
  <key>_232</key>
  <string>_232.glif</string>
  <key>_233</key>
  <string>_233.glif</string>
  <key>_234</key>
  <string>_234.glif</string>
  <key>_235</key>
  <string>_235.glif</string>
  <key>_236</key>
  <string>_236.glif</string>
  <key>_237</key>
  <string>_237.glif</string>
  <key>_238</key>
  <string>_238.glif</string>
  <key>_239</key>
  <string>_239.glif</string>
  <key>_240</key>
  <string>_240.glif</string>
  <key>_241</key>
  <string>_241.glif</string>
  <key>_242</key>
  <string>_242.glif</string>
  <key>_243</key>
  <string>_243.glif</string>
  <key>_244</key>
  <string>_244.glif</string>
  <key>_245</key>
  <string>_245.glif</string>
  <key>_246</key>
  <string>_246.glif</string>
  <key>_247</key>
  <string>_247.glif</string>
  <key>_248</key>
  <string>_248.glif</string>
  <key>_249</key>
  <string>_249.glif</string>
  <key>_250</key>
  <string>_250.glif</string>
  <key>_251</key>
  <string>_251.glif</string>
  <key>_252</key>
  <string>_252.glif</string>
  <key>_253</key>
  <string>_253.glif</string>
  <key>_254</key>
  <string>_254.glif</string>
  <key>_255</key>
  <string>_255.glif</string>
  <key>_45</key>
  <string>_45.glif</string>
  <key>_60</key>
  <string>_60.glif</string>
  <key>_62</key>
  <string>_62.glif</string>
  <key>_92</key>
  <string>_92.glif</string>
  <key>_97</key>
  <string>_97.glif</string>
  <key>_98</key>
  <string>_98.glif</string>
  <key>_99</key>
  <string>_99.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphen.001</key>
  <string>hyphen.001.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni02CD</key>
  <string>uni02C_D_.glif</string>
  <key>uni2219</key>
  <string>uni2219.glif</string>
  <key>uni2605</key>
  <string>uni2605.glif</string>
  <key>uniA4D0</key>
  <string>uniA_4D_0.glif</string>
  <key>uniA4D1</key>
  <string>uniA_4D_1.glif</string>
  <key>uniA4D2</key>
  <string>uniA_4D_2.glif</string>
  <key>uniA4D3</key>
  <string>uniA_4D_3.glif</string>
  <key>uniA4D4</key>
  <string>uniA_4D_4.glif</string>
  <key>uniA4D5</key>
  <string>uniA_4D_5.glif</string>
  <key>uniA4D6</key>
  <string>uniA_4D_6.glif</string>
  <key>uniA4D7</key>
  <string>uniA_4D_7.glif</string>
  <key>uniA4D8</key>
  <string>uniA_4D_8.glif</string>
  <key>uniA4D9</key>
  <string>uniA_4D_9.glif</string>
  <key>uniA4DA</key>
  <string>uniA_4D_A_.glif</string>
  <key>uniA4DB</key>
  <string>uniA_4D_B_.glif</string>
  <key>uniA4DC</key>
  <string>uniA_4D_C_.glif</string>
  <key>uniA4DD</key>
  <string>uniA_4D_D_.glif</string>
  <key>uniA4DE</key>
  <string>uniA_4D_E_.glif</string>
  <key>uniA4DF</key>
  <string>uniA_4D_F_.glif</string>
  <key>uniA4E0</key>
  <string>uniA_4E_0.glif</string>
  <key>uniA4E1</key>
  <string>uniA_4E_1.glif</string>
  <key>uniA4E2</key>
  <string>uniA_4E_2.glif</string>
  <key>uniA4E3</key>
  <string>uniA_4E_3.glif</string>
  <key>uniA4E4</key>
  <string>uniA_4E_4.glif</string>
  <key>uniA4E5</key>
  <string>uniA_4E_5.glif</string>
  <key>uniA4E6</key>
  <string>uniA_4E_6.glif</string>
  <key>uniA4E7</key>
  <string>uniA_4E_7.glif</string>
  <key>uniA4E8</key>
  <string>uniA_4E_8.glif</string>
  <key>uniA4E9</key>
  <string>uniA_4E_9.glif</string>
  <key>uniA4EA</key>
  <string>uniA_4E_A_.glif</string>
  <key>uniA4EB</key>
  <string>uniA_4E_B_.glif</string>
  <key>uniA4EC</key>
  <string>uniA_4E_C_.glif</string>
  <key>uniA4ED</key>
  <string>uniA_4E_D_.glif</string>
  <key>uniA4EE</key>
  <string>uniA_4E_E_.glif</string>
  <key>uniA4EF</key>
  <string>uniA_4E_F_.glif</string>
  <key>uniA4F0</key>
  <string>uniA_4F_0.glif</string>
  <key>uniA4F1</key>
  <string>uniA_4F_1.glif</string>
  <key>uniA4F2</key>
  <string>uniA_4F_2.glif</string>
  <key>uniA4F3</key>
  <string>uniA_4F_3.glif</string>
  <key>uniA4F4</key>
  <string>uniA_4F_4.glif</string>
  <key>uniA4F5</key>
  <string>uniA_4F_5.glif</string>
  <key>uniA4F6</key>
  <string>uniA_4F_6.glif</string>
  <key>uniA4F7</key>
  <string>uniA_4F_7.glif</string>
  <key>uniA4F8</key>
  <string>uniA_4F_8.glif</string>
  <key>uniA4F9</key>
  <string>uniA_4F_9.glif</string>
  <key>uniA4FA</key>
  <string>uniA_4F_A_.glif</string>
  <key>uniA4FB</key>
  <string>uniA_4F_B_.glif</string>
  <key>uniA4FC</key>
  <string>uniA_4F_C_.glif</string>
  <key>uniA4FD</key>
  <string>uniA_4F_D_.glif</string>
  <key>uniA4FE</key>
  <string>uniA_4F_E_.glif</string>
  <key>uniA4FF</key>
  <string>uniA_4F_F_.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
