<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uniA4D0.001</key>
  <string>uniA_4D_0.001.glif</string>
  <key>uniA4D0.002</key>
  <string>uniA_4D_0.002.glif</string>
  <key>uniA4D6.001</key>
  <string>uniA_4D_6.001.glif</string>
  <key>uniA4D7</key>
  <string>uniA_4D_7.glif</string>
  <key>uniA4D8</key>
  <string>uniA_4D_8.glif</string>
  <key>uniA4DD</key>
  <string>uniA_4D_D_.glif</string>
  <key>uniA4E7</key>
  <string>uniA_4E_7.glif</string>
  <key>uniA4E8</key>
  <string>uniA_4E_8.glif</string>
  <key>uniA4E8.001</key>
  <string>uniA_4E_8.001.glif</string>
  <key>uniA4ED</key>
  <string>uniA_4E_D_.glif</string>
  <key>uniA4F0</key>
  <string>uniA_4F_0.glif</string>
  <key>uniA4F1</key>
  <string>uniA_4F_1.glif</string>
</dict>
</plist>
