<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>N</key>
  <dict>
    <key>quotesingle</key>
    <integer>5</integer>
  </dict>
  <key>_108</key>
  <dict>
    <key>i</key>
    <integer>4</integer>
  </dict>
  <key>_99</key>
  <dict>
    <key>_116</key>
    <integer>5</integer>
  </dict>
  <key>hyphen</key>
  <dict>
    <key>uni02CD</key>
    <integer>-184</integer>
    <key>uniA4F8</key>
    <integer>-163</integer>
    <key>uniA4F9</key>
    <integer>-163</integer>
    <key>uniA4FA</key>
    <integer>-163</integer>
    <key>uniA4FB</key>
    <integer>-163</integer>
  </dict>
  <key>uni02CD</key>
  <dict>
    <key>space</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4D1</key>
  <dict>
    <key>uni02CD</key>
    <integer>-119</integer>
    <key>uniA4F8</key>
    <integer>-119</integer>
    <key>uniA4F9</key>
    <integer>-119</integer>
    <key>uniA4FA</key>
    <integer>-119</integer>
    <key>uniA4FB</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4D4</key>
  <dict>
    <key>uni02CD</key>
    <integer>-119</integer>
    <key>uniA4F8</key>
    <integer>-119</integer>
    <key>uniA4F9</key>
    <integer>-119</integer>
    <key>uniA4FA</key>
    <integer>-119</integer>
    <key>uniA4FB</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4DD</key>
  <dict>
    <key>uni02CD</key>
    <integer>-59</integer>
    <key>uniA4F8</key>
    <integer>-59</integer>
    <key>uniA4F9</key>
    <integer>-59</integer>
    <key>uniA4FA</key>
    <integer>-59</integer>
    <key>uniA4FB</key>
    <integer>-59</integer>
  </dict>
  <key>uniA4E6</key>
  <dict>
    <key>uni02CD</key>
    <integer>-119</integer>
    <key>uniA4F8</key>
    <integer>-119</integer>
    <key>uniA4F9</key>
    <integer>-119</integer>
    <key>uniA4FA</key>
    <integer>-119</integer>
    <key>uniA4FB</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4E9</key>
  <dict>
    <key>uni02CD</key>
    <integer>-119</integer>
    <key>uniA4F8</key>
    <integer>-119</integer>
    <key>uniA4F9</key>
    <integer>-119</integer>
    <key>uniA4FA</key>
    <integer>-119</integer>
    <key>uniA4FB</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4EA</key>
  <dict>
    <key>uni02CD</key>
    <integer>-59</integer>
    <key>uniA4F8</key>
    <integer>-59</integer>
    <key>uniA4F9</key>
    <integer>-59</integer>
    <key>uniA4FA</key>
    <integer>-59</integer>
    <key>uniA4FB</key>
    <integer>-59</integer>
  </dict>
  <key>uniA4EC</key>
  <dict>
    <key>uni02CD</key>
    <integer>-119</integer>
    <key>uniA4F8</key>
    <integer>-119</integer>
    <key>uniA4F9</key>
    <integer>-119</integer>
    <key>uniA4FA</key>
    <integer>-119</integer>
    <key>uniA4FB</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4EF</key>
  <dict>
    <key>uni02CD</key>
    <integer>-119</integer>
    <key>uniA4F8</key>
    <integer>-119</integer>
    <key>uniA4F9</key>
    <integer>-119</integer>
    <key>uniA4FA</key>
    <integer>-119</integer>
    <key>uniA4FB</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4FA</key>
  <dict>
    <key>space</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4FB</key>
  <dict>
    <key>space</key>
    <integer>-119</integer>
  </dict>
</dict>
</plist>
