<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uniA4D1</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4D4</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4DD</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-59</integer>
  </dict>
  <key>uniA4E6</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4E9</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4EA</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-59</integer>
  </dict>
  <key>uniA4EC</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4EF</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4FA</key>
  <dict>
    <key>space</key>
    <integer>-119</integer>
  </dict>
  <key>uniA4FB</key>
  <dict>
    <key>space</key>
    <integer>-119</integer>
  </dict>
  <key>public.kern1.uniA4F8</key>
  <dict>
    <key>space</key>
    <integer>-80</integer>
  </dict>
  <key>uniA4E5</key>
  <dict>
    <key>uniA4EA</key>
    <integer>-170</integer>
  </dict>
</dict>
</plist>
