<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>uniA4D0</key>
  <string>uniA_4D_0.glif</string>
  <key>uniA4D1</key>
  <string>uniA_4D_1.glif</string>
  <key>uniA4D2</key>
  <string>uniA_4D_2.glif</string>
  <key>uniA4D3</key>
  <string>uniA_4D_3.glif</string>
  <key>uniA4D7</key>
  <string>uniA_4D_7.glif</string>
  <key>uniA4DA</key>
  <string>uniA_4D_A_.glif</string>
  <key>uniA4DB</key>
  <string>uniA_4D_B_.glif</string>
  <key>uniA4E1</key>
  <string>uniA_4E_1.glif</string>
  <key>uniA4E2</key>
  <string>uniA_4E_2.glif</string>
  <key>uniA4E3</key>
  <string>uniA_4E_3.glif</string>
  <key>uniA4E4</key>
  <string>uniA_4E_4.glif</string>
  <key>uniA4E5</key>
  <string>uniA_4E_5.glif</string>
  <key>uniA4E9</key>
  <string>uniA_4E_9.glif</string>
  <key>uniA4EB</key>
  <string>uniA_4E_B_.glif</string>
  <key>uniA4EC</key>
  <string>uniA_4E_C_.glif</string>
  <key>uniA4F0</key>
  <string>uniA_4F_0.glif</string>
  <key>uniA4F1</key>
  <string>uniA_4F_1.glif</string>
  <key>uniA4F6</key>
  <string>uniA_4F_6.glif</string>
  <key>uniA4F7</key>
  <string>uniA_4F_7.glif</string>
</dict>
</plist>
