<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>uni02BC</key>
  <string>uni02B_C_.glif</string>
  <key>uni02CD</key>
  <string>uni02C_D_.glif</string>
  <key>uniA4D0</key>
  <string>uniA_4D_0.glif</string>
  <key>uniA4D1</key>
  <string>uniA_4D_1.glif</string>
  <key>uniA4D4</key>
  <string>uniA_4D_4.glif</string>
  <key>uniA4D6</key>
  <string>uniA_4D_6.glif</string>
  <key>uniA4D8</key>
  <string>uniA_4D_8.glif</string>
  <key>uniA4D9</key>
  <string>uniA_4D_9.glif</string>
  <key>uniA4DA</key>
  <string>uniA_4D_A_.glif</string>
  <key>uniA4DB</key>
  <string>uniA_4D_B_.glif</string>
  <key>uniA4DD</key>
  <string>uniA_4D_D_.glif</string>
  <key>uniA4DE</key>
  <string>uniA_4D_E_.glif</string>
  <key>uniA4E0</key>
  <string>uniA_4E_0.glif</string>
  <key>uniA4E2</key>
  <string>uniA_4E_2.glif</string>
  <key>uniA4E3</key>
  <string>uniA_4E_3.glif</string>
  <key>uniA4E4</key>
  <string>uniA_4E_4.glif</string>
  <key>uniA4E7</key>
  <string>uniA_4E_7.glif</string>
  <key>uniA4E8</key>
  <string>uniA_4E_8.glif</string>
  <key>uniA4E9</key>
  <string>uniA_4E_9.glif</string>
  <key>uniA4EA</key>
  <string>uniA_4E_A_.glif</string>
  <key>uniA4EB</key>
  <string>uniA_4E_B_.glif</string>
  <key>uniA4EC</key>
  <string>uniA_4E_C_.glif</string>
  <key>uniA4EE</key>
  <string>uniA_4E_E_.glif</string>
  <key>uniA4F7</key>
  <string>uniA_4F_7.glif</string>
</dict>
</plist>
