<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>uniA4D0</key>
  <string>uniA_4D_0.glif</string>
  <key>uniA4D0.001</key>
  <string>uniA_4D_0.001.glif</string>
  <key>uniA4D0.002</key>
  <string>uniA_4D_0.002.glif</string>
  <key>uniA4D1</key>
  <string>uniA_4D_1.glif</string>
  <key>uniA4D2</key>
  <string>uniA_4D_2.glif</string>
  <key>uniA4D3</key>
  <string>uniA_4D_3.glif</string>
  <key>uniA4D3.001</key>
  <string>uniA_4D_3.001.glif</string>
  <key>uniA4D6</key>
  <string>uniA_4D_6.glif</string>
  <key>uniA4D6.001</key>
  <string>uniA_4D_6.001.glif</string>
  <key>uniA4D7</key>
  <string>uniA_4D_7.glif</string>
  <key>uniA4D8</key>
  <string>uniA_4D_8.glif</string>
  <key>uniA4D9</key>
  <string>uniA_4D_9.glif</string>
  <key>uniA4DA</key>
  <string>uniA_4D_A_.glif</string>
  <key>uniA4DB</key>
  <string>uniA_4D_B_.glif</string>
  <key>uniA4DD</key>
  <string>uniA_4D_D_.glif</string>
  <key>uniA4DE</key>
  <string>uniA_4D_E_.glif</string>
  <key>uniA4DF</key>
  <string>uniA_4D_F_.glif</string>
  <key>uniA4E0</key>
  <string>uniA_4E_0.glif</string>
  <key>uniA4E2</key>
  <string>uniA_4E_2.glif</string>
  <key>uniA4E3</key>
  <string>uniA_4E_3.glif</string>
  <key>uniA4E3.001</key>
  <string>uniA_4E_3.001.glif</string>
  <key>uniA4E4</key>
  <string>uniA_4E_4.glif</string>
  <key>uniA4E7</key>
  <string>uniA_4E_7.glif</string>
  <key>uniA4E8</key>
  <string>uniA_4E_8.glif</string>
  <key>uniA4E8.001</key>
  <string>uniA_4E_8.001.glif</string>
  <key>uniA4E9</key>
  <string>uniA_4E_9.glif</string>
  <key>uniA4EB</key>
  <string>uniA_4E_B_.glif</string>
  <key>uniA4EC</key>
  <string>uniA_4E_C_.glif</string>
  <key>uniA4ED</key>
  <string>uniA_4E_D_.glif</string>
  <key>uniA4ED.001</key>
  <string>uniA_4E_D_.001.glif</string>
  <key>uniA4ED.002</key>
  <string>uniA_4E_D_.002.glif</string>
  <key>uniA4EE</key>
  <string>uniA_4E_E_.glif</string>
  <key>uniA4EF</key>
  <string>uniA_4E_F_.glif</string>
  <key>uniA4F0</key>
  <string>uniA_4F_0.glif</string>
  <key>uniA4F1</key>
  <string>uniA_4F_1.glif</string>
  <key>uniA4F7</key>
  <string>uniA_4F_7.glif</string>
  <key>uniA4F7.001</key>
  <string>uniA_4F_7.001.glif</string>
  <key>uniA4F7.002</key>
  <string>uniA_4F_7.002.glif</string>
</dict>
</plist>
