<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>uniA4D0</key>
  <string>uniA_4D_0.glif</string>
  <key>uniA4D1</key>
  <string>uniA_4D_1.glif</string>
  <key>uniA4D2</key>
  <string>uniA_4D_2.glif</string>
  <key>uniA4D3</key>
  <string>uniA_4D_3.glif</string>
  <key>uniA4D6</key>
  <string>uniA_4D_6.glif</string>
  <key>uniA4D7</key>
  <string>uniA_4D_7.glif</string>
  <key>uniA4D8</key>
  <string>uniA_4D_8.glif</string>
  <key>uniA4DA</key>
  <string>uniA_4D_A_.glif</string>
  <key>uniA4DF</key>
  <string>uniA_4D_F_.glif</string>
  <key>uniA4E1</key>
  <string>uniA_4E_1.glif</string>
  <key>uniA4E2</key>
  <string>uniA_4E_2.glif</string>
  <key>uniA4E4</key>
  <string>uniA_4E_4.glif</string>
  <key>uniA4E5</key>
  <string>uniA_4E_5.glif</string>
  <key>uniA4E6</key>
  <string>uniA_4E_6.glif</string>
  <key>uniA4E8</key>
  <string>uniA_4E_8.glif</string>
  <key>uniA4EA</key>
  <string>uniA_4E_A_.glif</string>
  <key>uniA4EB</key>
  <string>uniA_4E_B_.glif</string>
  <key>uniA4ED</key>
  <string>uniA_4E_D_.glif</string>
  <key>uniA4EE</key>
  <string>uniA_4E_E_.glif</string>
  <key>uniA4EF</key>
  <string>uniA_4E_F_.glif</string>
  <key>uniA4F0</key>
  <string>uniA_4F_0.glif</string>
  <key>uniA4F1</key>
  <string>uniA_4F_1.glif</string>
  <key>uniA4F4</key>
  <string>uniA_4F_4.glif</string>
  <key>uniA4F7</key>
  <string>uniA_4F_7.glif</string>
  <key>uniA4F8</key>
  <string>uniA_4F_8.glif</string>
  <key>uniA4FA</key>
  <string>uniA_4F_A_.glif</string>
  <key>uniA4FF</key>
  <string>uniA_4F_F_.glif</string>
</dict>
</plist>
